@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

@font-face {
  font-family: "Product Sans Regular";
  src: url("./ProductSansRegular.ttf");
}

@font-face {
  font-family: "Product Sans Bold";
  src: url("./ProductSansBold.ttf");
}

body {
  background-color: #2D89E1;
  font-family: "Product Sans Regular", sans-serif;
  color: white;
}

.flow-logo {
  font-family: "Righteous", sans-serif;
  font-size: 6vh;
  position: absolute;
  top: 10%;
  left: 50%;
  transform:translate(-50%, -50%);
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

.navbar-left {
  position: absolute;
  top: 9%;
  left: 10%;
}

.navbar-right {
  position: absolute;
  top: 9%;
  right: 10%;
}

.nav-li {
  float: left;
  margin-right: 9vh;
  font-size: 2vh;
}

.nav-li a {
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}


.nav-li a:hover {
  color: black;
}

.drone-gif-div {
  height: 30vh;
  position: absolute;
  top: 20%;
  right: 10%;
}

.drone-gif {
  border-radius: 50px;
}

.mobile-menu {
  display: none;
}


@media screen and (max-width: 1220px) {
  .mobile-menu {
    display: contents;
  }
  .navbar-left {
    display: none;
  }
  .navbar-right {
    display: none;
  }

  .mobilemenuul {
    text-align: right;

  }

  .mobilemenuli {
      list-style-type: none;
      color: white;
  }

  .menu {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    padding: 0;
  }
  .line {
    fill: none;
    stroke: black;
    stroke-width: 6;

  }
  .line1 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .line2 {
    stroke-dasharray: 60 60;
    stroke-width: 6;
  }
  .line3 {
    stroke-dasharray: 60 207;
    stroke-width: 6;
  }
  .opened .line1 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }
  .opened .line2 {
    stroke-dasharray: 1 60;
    stroke-dashoffset: -30;
    stroke-width: 6;
  }
  .opened .line3 {
    stroke-dasharray: 90 207;
    stroke-dashoffset: -134;
    stroke-width: 6;
  }

}
